@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    line-height: 1.25;
}

ul {
    display: flex;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    position: relative;
    color: #fff;
}

img {
    width: 100%;
}

.logo:hover {
    filter: brightness(110%);
}

.logo {
    filter: invert(0);
}

button {
    cursor: pointer;
}

.btn {
    background-color: #EA551F;
    color: #fff;
    font-size: 20px;
    border-radius: 2px;
    border: none;
}

button:active {
    transform: translateY(1px);
}

button:hover {
    opacity: 0.9;
}

.text--red {
    color: #EA551F;
}

.text--bold {
    font-weight: bold;
}

.container {
    padding: 40px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    text-align: center;
    margin-bottom: 32px;
}

.section__title--primary {
    font-size: 32px;
}

.section__title--desc {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 32px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
}

/* HOVER-EFFECT */

@media (min-width: 768px) {
    .link__hover-effect:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom: 12px;
        right: 0;
        transition: all 300ms ease;
    }

    .link__hover-effect--red:after {
        background-color: #EA551F;
    }

    .link__hover-effect:hover:after {
        width: 100%;
        left: 0;
    }
}



/* NAV-BAR */

nav {
    height: 120px;
    display: flex;
}

#nav--index {
    background-color: rgba(100,100,100,0.25);
    border: 1px solid #24242421;
    
}

#nav--shop {
    background-color: #242424;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}

.nav__link--anchor {
    margin: 0 24px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    color: #EA551F;
}

.link--notavailable {
    cursor: not-allowed;
}

/* MENU FOR PHONES */

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #fff;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.16),rgba(0, 0, 0, 0.40));
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    opacity: 0.92;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #fff;
    font-size: 40px;
}

.menu__link:hover {
    filter: brightness(110%);
    color: #EA551F;
}

.menu__list {
    padding: 32px 0;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px;
    color: #fff;
}

/* HEADER */


#landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.16),rgba(0, 0, 0, 0.48)), 
    url("./assets/1080658.jpg");
    background-position: center;
    background-size: cover;
}

header {
    height: calc(100vh - 120px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.header__title {
    font-size: 52px;
    margin-bottom: 16px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    padding: 0px 12px;
    font-family: 'Permanent Marker', cursive !important;
}

.header__sub-title {
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
    padding: 0 8px;
    font-style: italic;
    opacity: 0.84;
}

.header__btn {
    padding: 8px 32px;
    font-weight: bold;
}

/* SHOP */

#features,
#regular {
    background-color: #fff;
}

.section__title-feature {
    margin-bottom: 16px;
}

.section__title--regular {
    background-color: #242424;
    color: #fff;
    padding: 8px 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 25%;
    padding: 24px;
    cursor: not-allowed;
}

.item__img {
    max-height: 380px;
    transition: all 300ms ease;
}

.item__img--wrapper {
    margin-bottom: 8px;
    display: flex;

}

.item:hover .item__img {
    transform: scale(1.1);
    opacity: 0.92;

}

.item:hover .item__title {
    text-decoration: underline;
}

.item__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Questrial', sans-serif;
}

.item__price {
    text-align: center;
    font-size: 12px;
}

.item__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: gray;
}

/* full-shop link */

#full-shop {
    background-color: rgb(233, 231, 231);
}

#full-shop i {
    color: #fff;
}

.full-shop__btn {
    padding: 8px 80px;
    margin-bottom: 16px;

}

#full-shop .section__title {
    margin-bottom: 16px;
}

/* Footer */

footer {
    background-color: #242424;
    padding: 6%;
}

.footer__logo {
    width: 200px;

}

.footer__link {
    color: #fff;
    font-size: 16px;
    transition: all 300ms ease;
    font-family: 'Questrial', sans-serif;
}

.footer__link:hover {
    filter: brightness(110%);
    transform: scale(1.1);
    color: #EA551F;
    cursor: not-allowed;
}

.footer__links {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__anchor {
    margin-bottom: 32px;
}

/* 

SHOP

*/

#shop__main {
    flex: 1;
  }
  
  .shop__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 32px;
  }
  
  .shop__header--title {
    font-size: 28px;
    margin-bottom: 0;
  }
  
  select {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #24242427;
    color: #EA551F;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .items__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 420px 0;
    font-size: 80px;
    color: #EA551F;
  }
  
  .items__loading--spinner {
    display: none !important;
  }
  
  .items__loading .items__loading--spinner {
    display: block !important;
  }
  
  .fa-spinner {
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {


    .nav__logo {
        width: 180px;
    }

    .header__title {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    .item {
        width: 50%;
    }

    select {
        max-width: 160px;
    }
}


/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
    nav {
        height: 100px;
    }

    header {
        height: calc(100vh - 100px)
    }

    .container {
        padding: 40px 0 20px 0;
    }

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .section__title--desc {
        padding: 0px 16px;
    }

    .footer__link {
        margin: 8px;
    }

    .footer__links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .header__sub-title {
        font-size: 14px;
        padding: 0 16px;
        margin-bottom: 16px;
    }

    a {
        font-size: 14px;
    }
}